// Librairie d'elements perso
@import "./utility";

// Label
.label {
  @extend .rounded-full, .selectionner-nothing, .text-sm;
  background-color: color($gray, 200);
  color: color($gray, 700);
  padding: $space-0 $space-2;
  &:hover {
    background-color: color($gray, 300);
    color: color($gray, 900);
  }
  i {
    margin-left: $space-1;
  }
}

// Bouton
.button {
  @extend .text-sm, .rounded-md, .transition;
  background-color: color($gray, 200);
  color: color($gray, 700);
  padding: $space-2 $space-3;
  cursor: pointer;
  &:hover {
    @extend .transition;
    background-color: color($gray, 300);
    color: color($gray, 900);
  }
  &:active {
    @extend .animation-shrink;
    transition: 100ms;
  }
}
