// Feuille de style pour le mode nuit
@import "./utility/colors";

// Styles generales
body {
  background-color: color($gray, 900);
  color: color($gray, 100);
}
p {
  color: color($gray, 300);
}
hr {
  background-color: color($gray, 800);
}
* {
  border: none;
  outline: none;
  &:focus-visible {
    -webkit-box-shadow: 0px 0px 0px 2.5px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0px 0px 0px 2.5px rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 0px 2.5px rgba(255, 255, 255, 0.5);
  }
}

// Barre de navigation en haut
.topnav {
  background-color: color($gray, 800);
  .topnav__link {
    &:not(.topnav__logo) {
      color: color($gray, 300);
      &:hover {
        color: color($green, 400);
      }
    }
  }
  .topnav__hamburgerBtn {
    color: color($gray, 300);
    &:hover {
      color: color($gray, 400);
    }
  }
  .topnav__cogsBtn {
    color: color($gray, 300);
  }
}

// Barre de navigation mobile
.sidenav {
  background-color: rgba(50, 50, 50, 0.75);
  .sidenav__content {
    background-color: color($gray, 900);
  }
  .sidenav__link {
    color: color($gray, 300);
    border-bottom: 2px solid color($gray, 800);
    &:hover {
      background-color: color($gray, 800);
    }
  }
  .sidenav__icon {
    color: color($gray, 300);
  }
  .sidenav__closeBtn {
    color: color($gray, 300);
    &:hover {
      color: color($gray, 500);
    }
  }
}

// Barre de recherche
.search {
  .search__input {
    color: $white;
    background-color: color($gray, 800);
    &:focus {
      box-shadow: inset 0px 0px 0px 2.5px rgba(255, 255, 255, 0.5);
    }
  }
  .search__button {
    color: color($gray, 400);
    background-color: color($gray, 800);
    &:hover {
      color: color($green, 400);
    }
    &:focus-visible {
      box-shadow: inset 0px 0px 0px 2.5px rgba(200, 200, 200, 0.5);
    }
  }
}

// Resultat vide
.noresult {
  .noresult__text {
    color: color($gray, 300);
  }
  .noresult__link {
    color: color($green, 600);
    border-bottom: 3px solid color($green, 400);
    &:hover {
      color: color($green, 400);
    }
  }
}

// Recette
.recipe {
  background-color: color($gray, 800);
  .recipe__bottom {
    .recipe__title {
      color: color($gray, 300);
    }
    .recipe__info {
      color: color($gray, 300);

      .recipe__difficulty {
        color: color($gray, 300);
      }
      .recipe__time {
        color: color($gray, 300);
      }
      .recipe__detailsBtn {
        background-color: color($gray, 600);
        color: $white;
        &:hover {
          color: $white;
          background-color: color($gray, 500);
        }
        i {
          color: $white;
        }
      }
    }
  }
}

// Modal reglages
.settings {
  background-color: rgba(50, 50, 50, 0.75);
  .settings__content {
    background-color: color($gray, 900);
  }
  .settings__title {
    color: $white;
  }
  .settings__closeBtn {
    background: color($gray, 900);
    &:hover {
      background-color: color($gray, 800);
    }
    span {
      color: color($gray, 200);
    }
  }
  .settings__item {
    color: color($gray, 200);
  }
  .settings__item:not(:last-child):after {
    background: color($gray, 800);
  }
  .settings__flag--active {
    box-shadow: 0px 0px 0px 0.2rem rgba(54, 182, 71, 0.5);
  }
}

// Formulaire
.form {
  .form__section {
    background-color: color($gray, 800);
  }
  .form__sectionTitle {
    color: color($gray, 200);
  }
  .form__inputText {
    color: color($gray, 200);
    border: 1px solid color($gray, 800);
    background-color: color($gray, 900);
  }
  .form__selection {
    border: 1px solid color($gray, 800);
    background-color: color($gray, 900);
    color: color($gray, 200);
  }
  .form__fileInput {
    border: 1px solid color($gray, 800);
    background-color: color($gray, 900);
    color: color($gray, 400);
  }
  .form__checkbox {
    color: color($gray, 200);
    input[type="checkbox"] {
      color: green;
    }
  }
  .form__buttons {
    .button--submitForm {
      background-color: color($green, 600);
      color: $white;
      &:hover {
        background-color: color($green, 700);
        color: $white;
      }
    }
    .button--resetForm {
      background-color: color($gray, 500);
      color: $white;
      margin: 0;
      &:hover {
        background-color: color($gray, 600);
        color: $white;
      }
    }
  }
  .form__label {
    color: color($gray, 300);
  }
  .form__labelIcon {
    color: color($gray, 200);
  }
  .form__textArea {
    border: 1px solid color($gray, 800);
    background-color: color($gray, 900);
    color: color($gray, 200);
  }
  .form__numberInput {
    border: 1px solid color($gray, 800);
    background-color: color($gray, 900);
    color: color($gray, 200);
  }
  .form__ingrediantName {
    border: 1px solid color($gray, 800);
    background-color: color($gray, 900);
    color: color($gray, 200);
  }
  .form__ingrediantQuantity {
    border: 1px solid color($gray, 800);
    background-color: color($gray, 900);
    color: color($gray, 200);
  }
  .form__ingrediantsBtns {
    .button--ingrediantAdd {
      background-color: color($blue, 200);
      color: color($blue, 900);
      &:hover {
        background-color: color($blue, 300);
        color: color($blue, 900);
      }
    }
    .button--ingrediantDelete {
      background-color: color($orange, 200);
      color: color($orange, 900);
      &:hover {
        background-color: color($orange, 300);
        color: color($orange, 900);
      }
    }
  }
  .form__errorOutline {
    border: 1px solid color($red, 200);
    background-color: color($red, 100);
    &::placeholder {
      color: color($gray, 700);
    }
    color: color($gray, 700);
  }
}

// Details de recette
.details {
  .details__backBtn {
    color: color($gray, 300);
    &:hover {
      color: color($green, 500);
    }
  }
  .details__shareIcon {
    color: color($gray, 300);
    &:hover {
      color: color($gray, 400);
    }
  }
  .details__infoList {
    i {
      color: color($green, 600);
    }
  }
  .details__header {
    color: color($gray, 200);
  }
  .details__info {
    background-color: color($gray, 800);
    color: color($gray, 300);
  }
  .details__text {
    color: color($gray, 300);
  }
  .details__table {
    border-collapse: collapse;
    margin: 25px 0;
    min-width: 400px;
  }
  .details__table thead tr {
    background-color: color($green, 700);
    color: #ffffff;
    text-align: left;
  }
  .details__table th,
  .details__table td {
    padding: 12px 15px;
  }
  .details__table tbody tr {
    border-bottom: 1px solid color($gray, 700);
    background-color: #27272a;
  }

  .details__table tbody tr:nth-of-type(even) {
    background-color: #303035;
  }

  .details__table tbody tr:last-of-type {
    border-bottom: 2px solid color($green, 700);
  }
  .details__table tbody tr.active-row {
    font-weight: bold;
    color: color($green, 700);
  }
}

// Fonctionnalites
.features {
  .features__icon {
    color: color($gray, 400);
  }
  .features__card {
    background-color: color($gray, 800);
  }
}
