// Feuille de style principale
@import "./utility/animations";
@import "./utility/colors";
@import "./utility/responsive";
@import "./utility/rounded";
@import "./utility/select";
@import "./utility/shadow";
@import "./utility/spacing";
@import "./utility/text";
@import "./utility/transition";
@import "./utility/normalize";

// Styles generales
body {
  @extend .font-sans;
  background-color: color($gray, 100);
}
hr {
  margin-top: $space-8;
  margin-bottom: $space-8;
  background-color: color($gray, 300);
  border: none;
  height: 1px;
}
img:not([alt]) {
  box-shadow: 0 0 5px red;
}
a {
  color: black;
  text-decoration: none;
}
button,
a {
  cursor: pointer;
}
* {
  border: none;
  outline: none;
  &:focus-visible {
    -webkit-box-shadow: 0px 0px 0px 2.5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 0px 2.5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 0px 2.5px rgba(0, 0, 0, 0.5);
  }
}
html {
  line-height: 1.61803398875;
}

// Bouton
.button {
  @extend .text-sm, .rounded, .transition;
  background-color: color($gray, 200);
  color: color($gray, 700);
  padding: $space-2 $space-3;
  cursor: pointer;
  overflow: visible;
  &:hover {
    @extend .hover-grow;
    background-color: color($gray, 300);
    color: color($gray, 900);
  }
}

// Image de header
.header {
  background: linear-gradient(180deg, rgba(0, 23, 36, 0) 0%, rgba(0, 0, 0, 0.2) 49%),
    url("../../images/assets/headerSM.jpg");
  height: 300px;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include responsive(md) {
    background: linear-gradient(180deg, rgba(0, 23, 36, 0) 0%, rgba(0, 0, 0, 0.2) 49%),
      url("../../images/assets/headerMD.jpg");
    height: 300px;
    background-position: center;
    background-size: cover;
  }
  @include responsive(lg) {
    background: linear-gradient(180deg, rgba(0, 23, 36, 0) 0%, rgba(0, 0, 0, 0.2) 49%),
      url("../../images/assets/headerLG.jpg");
    height: 300px;
    background-position: center;
    background-size: cover;
  }
  .header__text {
    @extend .animation-bounce;
    font-size: 2.5rem;
    font-weight: 800;
    margin: 0;
    color: white;
    filter: drop-shadow(0px 0px 2.5px #00000055);
    @include responsive(md) {
      font-size: 3rem;
    }
    @include responsive(lg) {
      font-size: 3.5rem;
    }
  }
  .header__description {
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
    color: white;
    filter: drop-shadow(0px 0px 2.5px #00000055);
    @include responsive(md) {
      font-size: 1.5rem;
    }
    @include responsive(lg) {
      font-size: 2rem;
    }
  }
}

// Barre de navigation en haut
.topnav {
  @extend .shadow-md;
  display: flex;
  position: fixed;
  z-index: 1;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  width: 100%;
  .topnav__link {
    background-color: white;
    &:not(.topnav__logo) {
      @extend .text-lg, .font-bold, .transition;
      color: color($gray, 600);
      display: none;
      @include responsive(lg) {
        display: block;
      }
      &:hover {
        color: color($green, 700);
      }
    }
  }
  .topnav__icon {
    margin-right: $space-2;
    vertical-align: baseline;
  }
  .topnav__hamburgerBtn {
    @extend .text-3xl, .transition;
    cursor: pointer;
    position: absolute;
    left: $space-2-5;
    color: color($gray, 700);
    background-color: transparent;
    &:hover {
      color: color($gray, 500);
    }
    @include responsive(lg) {
      display: none;
    }
  }
  .topnav__cogsBtn {
    @extend .text-3xl;
    cursor: pointer;
    position: absolute;
    right: $space-2-5;
    color: color($gray, 700);
    background-color: transparent;
    &:hover {
      @extend .animation-spin;
      color: color($gray, 500);
    }
    @include responsive(lg) {
      display: none;
    }
  }
}

// Barre de navigation mobile
.sidenav {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 50%;
  margin-left: 50%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  .sidenav__content {
    padding-top: $space-12;
    position: relative;
    height: 100%;
    width: 50%;
    min-width: 240px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $white;
    overflow: hidden;
  }
  .sidenav__link {
    @extend .text-lg, .font-bold;
    color: color($gray, 600);
    display: block;
    border-bottom: 2px solid color($gray, 100);
    padding: $space-3 0 $space-2 $space-2;
    &:hover {
      background-color: color($gray, 100);
    }
    i {
      @extend .text-xl;
      vertical-align: middle;
    }
  }
  .sidenav__icon {
    color: color($gray, 600);
    margin-right: $space-2;
    vertical-align: baseline;
  }
  .sidenav__closeBtn {
    @extend .text-3xl, .transition;
    position: absolute;
    display: block;
    right: 1rem;
    top: 0;
    cursor: pointer;
    margin-top: $space-1-5;
    background-color: transparent;
    color: color($gray, 700);
    &:hover {
      color: color($gray, 500);
    }
  }
}

// Barre de recherche
.search {
  @extend .shadow-md;
  border-radius: 1rem 1rem 1rem 1rem;
  overflow: hidden;
  margin: auto;
  margin-top: -$space-5;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 50rem;
  height: 3rem;
  position: relative;
  margin-bottom: -$space-12;
  .search__input {
    padding: 0px;
    border-radius: 1rem 1rem 1rem 1rem;
    padding-left: $space-3;
    padding-right: $space-3;
    width: 100%;
    height: 100%;
    &:focus {
      box-shadow: inset 0px 0px 0px 2.5px rgba(0, 0, 0, 0.5);
    }
  }
  .search__button {
    @extend .text-xl, .rounded-full, .transition;
    position: absolute;
    right: $space-3;
    color: color($gray, 400);
    background-color: $white;
    height: 80%;
    cursor: pointer;
    &:hover {
      color: color($green, 700);
    }
    &:focus-visible {
      box-shadow: inset 0px 0px 0px 2.5px rgba(0, 0, 0, 0.5);
    }
  }
}

// Resultat vide
.noresult {
  @extend .animation-shake;
  margin: auto;
  .noresult__image {
    display: block;
    margin: auto;
    width: 80%;
    max-width: 45rem;
    margin-bottom: $space-12;
  }
  .noresult__text {
    @extend .text-2xl;
    width: 80%;
    max-width: 40rem;
    display: block;
    margin: auto;
    text-align: center;
    margin-bottom: $space-5;
  }
  .noresult__link {
    @extend .transition;
    cursor: pointer;
    color: color($green, 800);
    border-bottom: 3px solid color($green, 500);
    &:hover {
      color: color($green, 600);
    }
  }
}

// Liste de recettes
.recipeList {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: $space-20;
}

// Recette
.recipe {
  @extend .rounded-lg, .shadow-md, .animation-fade;
  background-color: $white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: $space-2;
  width: 20rem;
  height: 15rem;
  .recipe__top {
    position: relative;
    overflow: hidden;
    height: 60%;
    width: 100%;
    background: rgb(0, 23, 36);
    background: linear-gradient(
      225deg,
      rgba(0, 23, 36, 0) 0%,
      rgba(0, 0, 1, 1) 0%,
      rgba(224, 223, 223, 0.3883928571428571) 100%
    );
    .recipe__image {
      width: 100%;
      position: center;
    }
    .recipe__bookmarkBtn {
      @extend .text-2xl, .transition;
      color: color($gray, 200);
      position: absolute;
      top: $space-2;
      right: $space-2;
      background: none;
      &:hover {
        @extend .transition;
        color: color($gray, 300);
      }
    }
  }
  .recipe__bottom {
    position: relative;
    height: 40%;
    width: 100%;
    .recipe__title {
      margin: auto;
      margin: $space-2;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 90%;
      white-space: nowrap;
    }
    .recipe__info {
      margin: $space-2;
      overflow: visible;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;

      .recipe__difficulty {
        @extend .text-sm;
        color: color($gray, 500);
      }
      .recipe__time {
        @extend .text-sm;
        margin-left: $space-2;
        color: color($gray, 600);
      }
      .recipe__detailsBtn {
        @extend .button;
        display: inline-block;
        margin-left: $space-2;
        background-color: color($gray, 300);
        color: $black;

        i {
          color: color($gray, 700);
          margin-left: $space-1;
        }
        &:hover {
          background-color: color($gray, 400);
        }
        &:active {
          @extend .hover-shrink;
          transition: 100ms;
        }
      }
    }
  }
}

// Modal reglages
.settings {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  padding-top: 20vh;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
  .settings__content {
    @extend .rounded-lg, .shadow-xl, .animation-bounce;
    position: relative;
    background-color: $white;
    margin: auto;
    width: 90%;
    max-width: 30rem;
    height: 60%;
    max-height: 20rem;
    overflow: auto;
  }
  .settings__title {
    padding-left: $space-5;
  }
  .settings__closeBtn {
    @extend .transition;
    position: absolute;
    right: 0px;
    display: inline;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    display: flex;
    background-color: white;
    &:hover {
      background-color: color($gray, 100);
    }
    span {
      margin: auto;
    }
  }
  .settings__item {
    display: flex;
    padding-left: $space-5;
    align-items: center;
    color: color($gray, 700);
    position: relative;
  }
  .settings__item:not(:last-child):after {
    content: "";
    background: color($gray, 200);
    position: absolute;
    top: 100%;
    height: 2px;
    width: 90%;
  }
  .settings__itemText {
    margin: $space-2 $space-4 $space-2 0;
  }
  .settings__language {
    display: flex;
    align-items: center;
    margin-right: $space-3;
  }
  .settings__flag {
    @extend .transition;
    width: 2rem;
    cursor: pointer;
    margin-right: $space-3;
    border-radius: 0.25rem;
    &:hover {
      @extend .hover-grow, .transition;
    }
  }
  .settings__flag--active {
    box-shadow: 0px 0px 0px 0.2rem rgba(16, 119, 30, 0.5);
    transform: scale(1.2);
  }
  .settings__switch {
    margin-right: 0.5rem;
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25.5px;
    input {
      opacity: 0;
      width: 0;
      height: 0;
    }
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }
    .slider:before {
      position: absolute;
      content: "";
      height: 19.5px;
      width: 19.5px;
      left: 3px;
      bottom: 3px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }
    input:checked + .slider {
      background-color: color($green, 600);
    }
    input:focus + .slider {
      box-shadow: 0px 0px 0px 2.5px rgba(0, 0, 0, 0.5);
    }
    input:checked + .slider:before {
      -webkit-transform: translateX(19.5px);
      -ms-transform: translateX(19.5px);
      transform: translateX(19.5px);
    }
    .slider.round {
      border-radius: 25.5px;
    }
    .slider.round:before {
      border-radius: 50%;
    }
  }
}

// Image de formulaire
.submitImage {
  padding-top: $space-20;
  display: block;
  margin: auto;
  width: 90%;
  margin-bottom: -$space-1;
  @include responsive(sm) {
    width: 100%;
    max-width: 30rem;
  }
}

// Formulaire
.form {
  .form__section {
    @extend .shadow-md;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 30rem;
    margin: auto;
    background-color: $white;
    margin-bottom: $space-5;
    padding: $space-2 0 $space-4 0;
  }
  .form__sectionTitle {
    width: 100%;
    text-align: center;
    margin: 0;
  }
  .form__inputText {
    @extend .rounded-lg;
    border: 1px solid color($gray, 200);
    background-color: color($gray, 100);
    width: 80%;
    padding: $space-2;
    margin: $space-1;
    margin-top: $space-2;
    @include responsive(sm) {
      width: 11rem;
    }
  }
  .form__recipeName {
    width: 80%;
  }
  .form__selection {
    @extend .rounded-lg;
    box-sizing: content-box;
    border: 1px solid color($gray, 200);
    background-color: color($gray, 100);
    width: 80%;
    padding: $space-2;
    margin: $space-1;
  }
  .form__fileInput {
    @extend .rounded-lg;
    box-sizing: content-box;
    border: 1px solid color($gray, 200);
    background-color: color($gray, 100);
    width: 80%;
    padding: $space-2;
    margin: $space-1;
    color: color($gray, 500);
    @include responsive(sm) {
      width: 80%;
    }
  }
  .form__buttons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    width: 100%;
    max-width: 30rem;
    margin-bottom: $space-5;
    .button--submitForm {
      background-color: color($green, 700);
      color: $white;
      margin: 0;
      &:hover {
        background-color: color($green, 800);
        color: $white;
      }
    }
    .button--resetForm {
      background-color: color($gray, 500);
      color: $white;
      margin-right: $space-3;
      &:hover {
        background-color: color($gray, 600);
        color: $white;
      }
    }
  }
  .form__label {
    margin-top: 0.8rem;
    color: color($gray, 700);
    width: 80%;
  }
  .form__labelIcon {
    color: color($gray, 500);
    margin-right: $space-2;
  }
  .form__textArea {
    @extend .rounded-lg, .text-sm;
    border: 1px solid color($gray, 200);
    background-color: color($gray, 100);
    padding: $space-2;
    width: 80%;
  }
  .form__numberInput {
    @extend .rounded-lg, .text-sm;
    border: 1px solid color($gray, 200);
    background-color: color($gray, 100);
    padding: $space-2;
    width: 80%;
    @include responsive(sm) {
    }
  }
  .form__ingrediantsDiv {
    width: 85%;
  }
  .form__ingrediantsBtns {
    width: 85%;
    display: flex;
    justify-content: space-around;
    .button--ingrediantAdd {
      @extend .button;
      width: 48%;
      background-color: color($blue, 100);
      color: color($blue, 900);
      &:hover {
        background-color: color($blue, 200);
        color: color($blue, 900);
      }
    }
    .button--ingrediantDelete {
      @extend .button;
      width: 48%;
      background-color: color($orange, 100);
      color: color($orange, 900);
      &:hover {
        background-color: color($orange, 200);
        color: color($orange, 900);
      }
    }
  }
  .form__ingrediant {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .form__ingrediantName {
    @extend .rounded-lg;
    border: 1px solid color($gray, 200);
    background-color: color($gray, 100);
    width: 80%;
    padding: $space-2;
    margin: $space-1;
    margin-top: $space-2;
  }
  .form__ingrediantQuantity {
    @extend .rounded-lg;
    border: 1px solid color($gray, 200);
    background-color: color($gray, 100);
    width: 20%;
    padding: $space-2;
    margin: $space-1;
    margin-top: $space-2;
  }
  .form__successMsg {
    @extend .shadow-sm;
    box-sizing: border-box;
    display: none;
    word-wrap: break-word;
    width: 100%;
    margin: auto;
    height: auto;
    padding: $space-0-5 $space-4 $space-0-5 $space-4;
    margin-bottom: $space-4;
    background-color: color($green, 100);
    color: color($green, 900);
    @include responsive(sm) {
      width: 100%;
      max-width: 30rem;
    }
  }
  .form__errorMsg {
    @extend .form__successMsg;
    display: none;
    background-color: color($red, 100);
    color: color($red, 900);
  }
  .form__errorOutline {
    border: 1px solid color($red, 200);
    background-color: color($red, 100);
  }
}

// Details de recette
.details {
  width: 90%;
  max-width: 50rem;
  margin: auto;
  margin-bottom: $space-32;
  padding-top: $space-20;
  .details__top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .details__backBtn {
    @extend .transition, .font-bold;
    background: none;
    color: color($gray, 800);
    &:hover {
      @extend .hover-grow;
      color: color($green, 700);
    }
  }
  .details__backIcon {
    margin-right: $space-2;
  }
  .details__share {
    display: flex;
    align-items: center;
    padding: 0;
  }
  .details__shareIcon {
    @extend .transition;
    font-size: 2rem;
    padding: 0.5rem;
    color: color($gray, 700);
    &:hover {
      @extend .hover-grow;
      color: color($gray, 600);
    }
  }
  .details__img {
    @extend .rounded-lg;
    overflow: hidden;
    display: flex;
    width: 100%;
    margin: auto;
    margin-top: $space-1;
    img {
      margin: auto;
      width: 100%;
    }
  }
  .details__title {
    @extend .text-4xl;
    text-align: center;
  }
  .details__header {
    @extend .text-xl;
    text-align: left;
    padding: 0;
    margin: 0px;
    color: color($gray, 800);
  }
  .details__infoList {
    @extend .rounded-md;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $space-2;
    i {
      color: color($green, 800);
      margin-right: $space-1;
    }
    flex-wrap: wrap;
  }
  .details__info {
    @extend .rounded-full;
    margin-right: $space-4;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: color($gray, 200);
    margin-top: $space-2;
    padding: $space-1 $space-2 $space-1 $space-2;
  }
  .details__text {
    color: color($gray, 700);
  }
  .details__table {
    @extend .text-lg, .shadow-md;
    border-collapse: collapse;
    margin: 25px 0;
    min-width: 400px;
  }
  .details__table thead tr {
    background-color: color($green, 700);
    color: #ffffff;
    text-align: left;
  }
  .details__table th,
  .details__table td {
    padding: 12px 15px;
  }
  .details__table tbody tr {
    border-bottom: 1px solid #dddddd;
  }

  .details__table tbody tr:nth-of-type(even) {
    background-color: #eeeeee;
  }

  .details__table tbody tr:last-of-type {
    border-bottom: 2px solid color($green, 700);
  }
  .details__table tbody tr.active-row {
    font-weight: bold;
    color: color($green, 700);
  }
}

// Image a propos
.aboutImage {
  display: block;
  margin: auto;
  width: 80%;
  max-width: 40rem;
  margin-bottom: $space-8;
  padding-top: $space-6;
}

// A propos
.about {
  display: block;
  margin: auto;
  width: 80%;
  max-width: 60rem;
  @include responsive(md) {
    width: 70%;
  }
  @include responsive(lg) {
    width: 90%;
  }
  .about__title {
    margin: 0;
    text-align: center;
  }
  .about__text {
    text-align: center;
  }
}

// Fonctionnalites
.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: $space-0;
  padding: $space-4;
  padding-top: $space-1;
  width: 90%;
  max-width: 60rem;
  .features__icon {
    @extend .text-6xl, .transition;
    color: color($gray, 600);
  }
  .features__title {
    @extend .text-3xl;
    text-align: center;
    margin: 0;
    margin-bottom: $space-4;
  }
  .features__description {
    @extend .text-sm;
    text-align: center;
    margin: 0;
  }
  .features__card {
    @extend .rounded-lg, .shadow-sm, .transition;
    background-color: white;
    min-height: 17rem;
    width: 80%;
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 1rem;
    * {
      display: grid;
      place-items: center;
      width: 100%;
      height: 33.33%;
    }
  }
  .features__card:nth-child(even) {
    &:hover {
      @extend .shadow-lg;
      transform: rotate(3deg) scale(1.15);
    }
  }
  .features__card:nth-child(odd) {
    &:hover {
      @extend .shadow-lg;
      transform: rotate(-3deg) scale(1.15);
    }
  }
  .features__card:not(:first-child) {
    margin-top: $space-4;
  }
  @include responsive(lg) {
    flex-direction: row;
    .features__card:first-child {
      margin-top: $space-4;
    }
    .features__card:not(:last-child) {
      margin-right: $space-4;
    }
  }
}
