body {
  background-color: #18181b;
  color: #e4e4e7;
}

hr {
  background-color: #27272a;
}

* {
  border: none;
  outline: none;
}

*:focus-visible {
  -webkit-box-shadow: 0px 0px 0px 2.5px rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 0px 2.5px rgba(255, 255, 255, 0.5);
}

.topnav {
  background-color: #27272a;
}

.topnav .topnav__link:not(.topnav__logo) {
  color: #d4d4d8;
}

.topnav .topnav__link:not(.topnav__logo):hover {
  color: #4ade80;
}

.topnav .topnav__hamburger {
  color: #d4d4d8;
}

.topnav .topnav__hamburger:hover {
  color: #a1a1aa;
}

.topnav .topnav__cogs {
  color: #d4d4d8;
}

.sidenav {
  background-color: rgba(50, 50, 50, 0.75);
}

.sidenav .sidenav__content {
  background-color: #18181b;
}

.sidenav .sidenav__link {
  color: #d4d4d8;
  border-bottom: 2px solid #27272a;
}

.sidenav .sidenav__link:hover {
  background-color: #27272a;
}

.sidenav .sidenav__icon {
  color: #d4d4d8;
}

.sidenav .sidenav__close {
  color: #d4d4d8;
}

.sidenav .sidenav__close:hover {
  color: ccolor((50: #fafafa, 100: #f4f4f5, 200: #e4e4e7, 300: #d4d4d8, 400: #a1a1aa, 500: #71717a, 600: #52525b, 700: #3f3f46, 800: #27272a, 900: #18181b), 500);
}

.search {
  background-color: #27272a;
}

.search .search__input {
  color: #fff;
  background-color: #27272a;
}

.search .search__input:focus {
  -webkit-box-shadow: inset 0px 0px 0px 2.5px rgba(255, 255, 255, 0.5);
          box-shadow: inset 0px 0px 0px 2.5px rgba(255, 255, 255, 0.5);
}

.search ::-webkit-input-placeholder {
  color: #a1a1aa;
  opacity: 1;
}

.search :-ms-input-placeholder {
  color: #a1a1aa;
  opacity: 1;
}

.search ::-ms-input-placeholder {
  color: #a1a1aa;
  opacity: 1;
}

.search ::placeholder {
  color: #a1a1aa;
  opacity: 1;
}

.search :-ms-input-placeholder {
  color: #a1a1aa;
}

.search ::-ms-input-placeholder {
  color: #a1a1aa;
}

.search .search__button {
  color: #a1a1aa;
  background-color: #27272a;
}

.search .search__button:hover {
  color: #4ade80;
}

.search .search__button:focus-visible {
  -webkit-box-shadow: inset 0px 0px 0px 2.5px rgba(200, 200, 200, 0.5);
          box-shadow: inset 0px 0px 0px 2.5px rgba(200, 200, 200, 0.5);
}

.noresult .noresult__texte {
  color: #d4d4d8;
}

.noresult .noresult__link {
  color: #16a34a;
  border-bottom: 3px solid #4ade80;
}

.noresult .noresult__link:hover {
  color: #22c55e;
}

.nobookmark .nobookmark__texte {
  color: #d4d4d8;
}

.nobookmark .nobookmark__link {
  color: #16a34a;
  border-bottom: 3px solid #4ade80;
}

.nobookmark .nobookmark__link:hover {
  color: #22c55e;
}

.recipe {
  background-color: #27272a;
}

.recipe .recipe__top .recipe__bookmark-btn {
  color: #fff;
}

.recipe .recipe__top .recipe__bookmark-btn:hover {
  color: #e4e4e7;
}

.recipe .recipe__bottom .recipe__title {
  color: #d4d4d8;
}

.recipe .recipe__bottom .recipe__info {
  color: #d4d4d8;
}

.recipe .recipe__bottom .recipe__difficulty {
  color: #d4d4d8;
}

.recipe .recipe__bottom .recipe__time {
  color: #d4d4d8;
}

.recipe .recipe__bottom .recipe__btn {
  background-color: #52525b;
  color: #fff;
}

.recipe .recipe__bottom .recipe__btn:hover {
  color: #fff;
  background-color: #71717a;
}

.recipe .recipe__bottom .recipe__btn i {
  color: #fff;
}

.settings {
  background-color: rgba(50, 50, 50, 0.75);
}

.settings .settings__content {
  background-color: #18181b;
}

.settings .settings__title {
  color: #fff;
}

.settings .settings__closebtn:hover {
  background-color: #27272a;
}

.settings .settings__closebtn span {
  color: #e4e4e7;
}

.settings .settings__item {
  color: #e4e4e7;
}

.settings .settings__item:not(:last-child):after {
  background: #27272a;
}

.settings .settings__flag--active {
  -webkit-box-shadow: 0px 0px 0px 0.2rem rgba(54, 182, 71, 0.5);
          box-shadow: 0px 0px 0px 0.2rem rgba(54, 182, 71, 0.5);
}

.form ::-webkit-input-placeholder {
  color: #a1a1aa;
  opacity: 1;
}

.form :-ms-input-placeholder {
  color: #a1a1aa;
  opacity: 1;
}

.form ::-ms-input-placeholder {
  color: #a1a1aa;
  opacity: 1;
}

.form ::placeholder {
  color: #a1a1aa;
  opacity: 1;
}

.form :-ms-input-placeholder {
  color: #a1a1aa;
}

.form ::-ms-input-placeholder {
  color: #a1a1aa;
}

.form .form__section {
  background-color: #27272a;
}

.form .form__section-title {
  color: #e4e4e7;
}

.form .form__input-text {
  color: #e4e4e7;
  border: 1px solid #27272a;
  background-color: #3f3f46;
}

.form .form__selection {
  border: 1px solid #27272a;
  background-color: #3f3f46;
  color: #e4e4e7;
}

.form .form__file-input {
  border: 1px solid #27272a;
  background-color: #3f3f46;
  color: #a1a1aa;
}

.form .form__checkbox {
  color: #e4e4e7;
}

.form .form__checkbox input[type="checkbox"] {
  color: green;
}

.form .form__buttons .button--submit-form {
  background-color: #16a34a;
  color: #fff;
}

.form .form__buttons .button--submit-form:hover {
  background-color: #15803d;
  color: #fff;
}

.form .form__buttons .button--reset-form {
  background-color: #71717a;
  color: #fff;
  margin: 0;
}

.form .form__buttons .button--reset-form:hover {
  background-color: #52525b;
  color: #fff;
}

.form .form__label {
  color: #d4d4d8;
}

.form .form__label-icon {
  color: #e4e4e7;
}

.form .form__text-area {
  border: 1px solid #27272a;
  background-color: #3f3f46;
  color: #e4e4e7;
}

.form .form__number-input {
  border: 1px solid #27272a;
  background-color: #3f3f46;
  color: #e4e4e7;
}

.form .form__ingrediant-name {
  border: 1px solid #27272a;
  background-color: #3f3f46;
  color: #e4e4e7;
}

.form .form__ingrediant-quantity {
  border: 1px solid #27272a;
  background-color: #3f3f46;
  color: #e4e4e7;
}

.form .error {
  border: 1px solid #fecaca;
  background-color: #fee2e2;
  color: #3f3f46;
}

.form .error::-webkit-input-placeholder {
  color: #3f3f46;
}

.form .error:-ms-input-placeholder {
  color: #3f3f46;
}

.form .error::-ms-input-placeholder {
  color: #3f3f46;
}

.form .error::placeholder {
  color: #3f3f46;
}

.details .details__backBtn {
  color: #d4d4d8;
}

.details .details__backBtn:hover {
  color: #22c55e;
}

.details .details__shareIcon {
  color: #d4d4d8;
}

.details .details__shareIcon:hover {
  color: #a1a1aa;
}

.details .details__infolist i {
  color: #16a34a;
}

.details .details__header {
  color: #e4e4e7;
}

.details .details__info {
  background-color: #27272a;
  color: #d4d4d8;
}

.details .details__text {
  color: #d4d4d8;
}

.details .styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  min-width: 400px;
}

.details .styled-table thead tr {
  background-color: #15803d;
  color: #ffffff;
  text-align: left;
}

.details .styled-table th,
.details .styled-table td {
  padding: 12px 15px;
}

.details .styled-table tbody tr {
  border-bottom: 1px solid #3f3f46;
  background-color: #27272a;
}

.details .styled-table tbody tr:nth-of-type(even) {
  background-color: #303035;
}

.details .styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #15803d;
}

.details .styled-table tbody tr.active-row {
  font-weight: bold;
  color: #15803d;
}
/*# sourceMappingURL=dark.css.map */